* {
  color: #f8f9fa;
  transition: color .8s ease-in-out, border-color .8s ease-in-out, background-color .8s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  display: grid;
  height: calc(100vh - 40px);
  padding: 20px;
  grid-gap: 20px;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-areas: "logo"
                       "form"
                       "results";
}

#logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
}

form {
  grid-area: form;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: normal;
}

#mic {
  cursor: pointer;
  margin-bottom: 20px;
}

i {
  border: 2px solid;
  padding: 18.5px 25px;
  border-radius: 50%;
}

i:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color .3s ease-in-out;
}

.recording {
  animation: recording 1s infinite;
}

@keyframes recording {
  0% {
    box-shadow: 0 0 10px #f8f9fa;
  }
  100% {
    box-shadow: 0 0 40px 20px #f8f9fa;
  }
}

input {
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  height: 40px;
  border: none;
  border-bottom: 2px solid;
  text-align: center;
  border-color: #f8f9fa;
  background-color: transparent;
  color: #f8f9fa;
  text-transform: uppercase;
  padding-bottom: 2px;
}

input::placeholder {
  color: #f8f9fa;
  opacity: .5;
}

input:focus {
  outline: none;
}

button {
  border-radius: 10px;
  border: 2px solid;
  border-color: #f8f9fa;
  background-color: transparent;
  color: #f8f9fa;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color .3s ease-in-out;
}

button:focus {
  outline: none;
}

#results {
  grid-area: results;
}

#controls {
  margin: 0;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls span {
  font-weight: 200;
  margin-left: 20px;
  cursor: pointer;
}

#controls span:hover {
  opacity: .8;
  transform: scale(.95);
}

.results-control {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 80%;
}


.relationship {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.relationship-title {
  letter-spacing: 1.8px;
  margin: 0;
  text-decoration: underline;
}

p {
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px 0 5px 2.8vw;
}

p:not(.relationship-title):hover {
  cursor: pointer;
  opacity: .8;
  transform: scale(.95);
}

.text-control {
  display: flex;
}

@media screen and (min-width: 720px) {
  i {
    padding: 18.5px 30px;
  }
}

@media screen and (min-width: 1020px) {
  .results-control {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .relationship {
    flex-direction: column;
    margin: 0 20px;
  }
  .text-control {
    flex-direction: column;
  }
  p {
    margin: 0;
  }
  input {
    max-width: 600px;
  }
}
