* {
  color: #f8f9fa;
  transition: color .8s ease-in-out, border-color .8s ease-in-out, background-color .8s ease-in-out;
}

body {
  margin: 0;
  background-color: #007bff;
  font-family: 'Nunito', sans-serif;
  display: grid;
  min-height: 100vh;
  padding: 0 20px;
  grid-gap: 40px;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "logo"
                       "form"
                       "result";
}

#logo {
  grid-area: logo;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  grid-area: form;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
}

#mic {
  cursor: pointer;
}

i {
  border: 3px solid;
  padding: 10px 18px;
  border-radius: 50%;
}

i:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color .3s ease-in-out;
}

.recording {
  animation: recording 1s infinite;
}

@keyframes recording {
  0% {
    /*padding: 10px 18px;
    margin: 0;*/
    box-shadow: 0 0 10px red;
  }
  100% {
    /*padding: 30px 38px;
    margin: -20px;*/
    box-shadow: 0 0 40px 20px red;
  }
}

input {
  /*display: none;*/
  width: 100%;
  max-width: 300px;
  height: 40px;
  border: none;
  border-bottom: 3px solid;
  text-align: center;
  border-color: #f8f9fa;
  background-color: transparent;
  font-size: 20px;
  color: #f8f9fa;
}

input::placeholder {
  color: #f8f9fa;
  opacity: .5;
}

input:focus {
  outline: none;
}

button {
  border-radius: 10px;
  border: 3px solid;
  border-color: #f8f9fa;
  background-color: transparent;
  color: #f8f9fa;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color .3s ease-in-out;
}

button:focus {
  outline: none;
}

#result {
  grid-area: result;
}

.relationship {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-transform: uppercase;
}

.large-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid;
}

.inner-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid;
}

#large-complementary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
