* {
  color: #f8f9fa;
  transition: color .8s ease-in-out, border-color .8s ease-in-out, background-color .8s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  display: grid;
  height: calc(100vh - 40px);
  padding: 20px;
  grid-gap: 20px;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-areas: "logo"
                       "form"
                       "results";
}

#logo {
  grid-area: logo;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  /*transform: scale(3);*/
}

form {
  grid-area: form;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
}

#mic {
  cursor: pointer;
}

i {
  border: 2px solid;
  padding: 18.5px 25px;
  border-radius: 50%;
  /*transform: scale(3);*/
}

i:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color .3s ease-in-out;
}

.recording {
  animation: recording 1s infinite;
}

@keyframes recording {
  0% {
    box-shadow: 0 0 10px #f8f9fa;
  }
  100% {
    box-shadow: 0 0 40px 20px #f8f9fa;
  }
}

input {
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  height: 40px;
  border: none;
  border-bottom: 2px solid;
  text-align: center;
  border-color: #f8f9fa;
  background-color: transparent;
  font-size: 20px;
  color: #f8f9fa;
  text-transform: uppercase;
  /*transform: scale(3);*/
}

input::placeholder {
  color: #f8f9fa;
  opacity: .5;
}

input:focus {
  outline: none;
}

button {
  border-radius: 10px;
  border: 2px solid;
  border-color: #f8f9fa;
  background-color: transparent;
  color: #f8f9fa;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  /*transform: scale(3);*/
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color .3s ease-in-out;
}

button:focus {
  outline: none;
}

#results {
  grid-area: results;
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
  flex-direction: column;
}

h5 {
  margin: 0;
  margin-bottom: 10px;
}

span {
  margin: 0 20px;
}

.relationship {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.relationship-title {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
  text-decoration: underline;
}

p {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px;
}

.large-circle {
  margin: 5px 0;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid;
  padding: 6px;
}

.inner-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid;
  box-sizing: border-box;
}

#large-invert {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#large-split-comp {;
  justify-content: center;
}

div[class^="inner-sp"] {
  margin-top: 15px;
}

#large-triadic {
  justify-content: center;
}

div[class^="inner-tri"] {
  margin-top: 20px;
  align-self: center;
}

#large-tetradic {
  flex-direction: column;
  justify-content: space-around;
}

.inner-control {
  display: flex;
  justify-content: space-around;
}

.text-control {
  display: flex;
}
